<h1> Create an account </h1>

<form action="<%= new_session_url %>">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit">Sign In</button>
</form>
<br><br><br>

<body>
<form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Email Address: </label>
    <input type="text" name="user[email]">
    
    <label>Password: </label>
    <input type="password" name="user[password]">

    <input type="submit" value="Sign Up!">

</form>

</body>